<div *ngIf="news">
    <div class="card h-100">
        <div class="card-body">
            <button type="button" (click)="removeNews()" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div routerLinkActive='active' [routerLink]="['../detail', news.id]">
                <h4 class="card-title">
                    {{news.title}}
                </h4>
                <p class="card-text">{{news.content}}</p>
            </div>
        </div>
        <div class="card-footer">
            <small class="text-muted row">
                <div class="col-7">
                    <em *ngFor="let author of news.authors">
                        &nbsp;{{author.firstName}}
                    </em>
                </div>
                <div class="col-5 text-right">
                    <em>
                        {{news.date | date:'dd-MM-yyyy'}}
                    </em>
                </div>
            </small>
        </div>
    </div>
</div>