<div class="row">
  <div class="col-lg-2 col-md-0"></div>
  <form [formGroup]='user' (ngSubmit)='onSubmit()' class="col-lg-8 col-md-12">
    <h3 class="ui header">login</h3>
    <div class="form-group">
      <label for="email">username</label>
      <input type="text" id="email" formControlName='email'>
    </div>
    <div class="form-group">
      <label for="password">password</label>
      <input type="password" id="password" formControlName='password'>
    </div>
    <button type='submit' [disabled]='!user.valid' class="btn primary-btn" id='loginbtn'>log in</button>
    <div *ngIf='errorMsg' class='ui red label'>{{errorMsg}}</div>
  </form>
</div>